html{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #F2F2F2;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 600;
	color: #304269;
	margin: 0;
	padding: 0;
}

.container{
    width: 100%;
    max-width: 1290px;
    padding: 0;
}

.btn-main{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 0.05em;
    background: #FF912C;
    border-radius: 4px;
    padding: 5px 48px;
    text-decoration: none;
    text-transform: uppercase;
}





/*header*/

.nav{
    background: #fff;
    padding-top: 30px;
}

.search__form-info{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.05em;
    padding: 5px 22px;
    border: 2px solid rgba(61, 61, 61, 0.4);
    border-bottom: 2px solid #FF912C;
    border-top: none;
    cursor: pointer;
    outline: 0;
    position: relative;
}

.search__box-form{
    position: relative;
}

.search__box-form:after{
    content: 'Поиск';
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: -15px;
    left: 24px;
    letter-spacing: 0.05em;

}

.search-box{
    position: relative;
}

.search-box:after{
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: rgba(61, 61, 61, 0.4);
    position: absolute;
    top: 0;
}
.search-box:before{
    content: '';
    display: block;
    width: 327px;
    height: 2px;
    background: rgba(61, 61, 61, 0.4);
    margin-left: 84px;
}

.search__form-info::placeholder{
    color: #848484;  
}

.icon-links{
    margin-right: 20px;
    color: #304269;
}

.icons a{
    text-decoration: none;
}

.icons a:hover{
    color: #000;
}

.icon-links:last-child{
    margin-right: 0;
}


.currency__system{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.menu{
    padding: 53px 0 31px 0;
    background: #fff;
}


.menu__list-item a{
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #848484;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: .2s linear;
}

.menu__list-item a:hover{
    color: #304269;
}

.menu__list-item a:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FF912C;
    z-index: 1;
    opacity: 0;
    transition: .2s linear;
}

.menu__list-item a:hover:after{
    opacity: 1;
}

.header__banner img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.header__banner{
    margin-bottom: 60px;
}


/*header end*/

/*contacts main info*/

.contacts-main-request-call-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #3D3D3D;
    padding: 55px 0 20px 110px;
    position: relative;
}

.contacts-main-request-call-title:after{
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: #FF912C;
    position: absolute;
    top: 69px;
    left: 0;
}

.contacts-main-request-call{
    background: #fff;
    height: 600px;
   
}

.contacts-main-request-subtitle{
    font-size: 18px;
    line-height: 30px;
    color: #848484;
    padding: 0 0 45px 110px;
    margin-bottom: 0;
}

.contacts__form{
    padding-left: 110px;
}

.contacts__request-call-button {
    padding-top: 50px;
    padding-left: 110px;
}

.input-for-name{
    padding: 10px 22px;
    width: 350px;
    border: 2px solid rgba(61, 61, 61, 0.4);
    border-top: none;
    border-bottom: 2px solid #FF912C;
    cursor: pointer;
    outline: 0;
    position: relative;

}

.input-for-name::placeholder{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000;   
}

.search{
    position: relative;
}

.search span{
    display: block;
    padding-bottom: 30px;
}

.search span:last-child{
    padding-bottom: 0;
}


.search:after{
    content: 'Nume';
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -12px;
    left: 25px;
}

.input-name{
    position: relative;
}

.input-name:after{
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: rgba(61, 61, 61, 0.4);
    position: absolute;
    top: 1px;
}

.input-name:before{
    content: '';
    display: block;
    width: 275px;
    height: 2px;
    background: rgba(61, 61, 61, 0.4);
    margin-left: 75px;
}

.input-phone{
    position: relative;
}

.input-phone:after{
    content: "Telefon";
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -12px;
    left: 25px;
}

.input-phone-border{
    position: relative;
    margin-bottom: 0;
}

.input-for-phone::placeholder{
    font-size: 18px;
    line-height: 30px;
    color: #000;
    letter-spacing: 0.05em;
}

.input-for-phone{
    padding: 10px 22px;
    width: 350px;
    border: 2px solid #848484;
    border-top: none;
    cursor: pointer;
    outline: 0;
}



.input-phone-border:after{
    content:'';
    display: block;
    width: 15px;
    height:2px;
    background: #848484;
    position: absolute;
    top:0;
}

.input-phone-border:before{
    content:'';
    display: block;
    width: 270px;
    height:2px;
    background: #848484;
    margin-left: 80px;
    
}


.input-for-mail{
    padding: 10px 22px;
    width: 350px;
    border: 2px solid #848484;
    border-top: none;
    cursor: pointer;
    outline: 0;
}

.input-for-mail::placeholder{
    color: #000;
    letter-spacing: 0.05em;
}

.input-mail{
    position: relative;
}

.input-mail:after{
    content: 'Email';
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -12px;
    left: 25px;
}

.input-mail-border{
    position: relative;
    margin-bottom: 0;
}

.input-mail-border:after{
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #848484;
    position: absolute;
    top: 0;
}

.input-mail-border:before{
    content: '';
    display: block;
    width: 275px;
    height: 2px;
    background: #848484;
    margin-left: 75px;
}


.contacts__request-call-button a{
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 57px;
    background: #FF912C;
    text-decoration: none;
    transition: .2s linear;
}

.contacts__request-call-button a:hover{
    transform: scale(1.02);
    background: #e0812a;
    color: #3D3D3D;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);

}

/*contacts-main-info-detail second block*/

.contacts-main-block{
    padding: 0;
}

.contacts-main-info{
    margin-bottom: 60px;
    position: relative;
}

.contacts-main-info-bannerLeft{
    position: absolute;
    top: 0;
    left: 77px;
}

.contacts-main-info-bannerRight{
    position: absolute;
    top: 0;
    right: 77px;
}

.contacts-main-info-detail{
    background: #F9F9F9;
    height: 600px;
}

.contacts-main-info-detail-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #3D3D3D;
    padding: 55px 0 20px 110px;
}

.contacts-main-info-detail-subtitle{
    font-size: 18px;
    line-height: 30px;
    color: #848484;
    padding-left: 110px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.contacts-main-info-item{
    padding-left: 110px;
}

.contacts-main-info-items{
    display: flex;
    padding-bottom: 15px;
}

.contacts-main-info-pic {
    padding-right: 20px;
}

.contacts-main-info-link a{
    font-size: 18px;
    line-height: 30px;
    color: #3D3D3D;
    text-decoration: none;
}

.contacts-main-info-follow{
    font-size: 18px;
    line-height: 30px;
    padding-left: 110px;
    color: #848484;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 22px;
}

.contacts-main-info-icons{
    padding-left: 110px;
}

.contacts-main-info-icons a{
    color: #848484;
    text-decoration: none;
    padding-right: 30px;
    transition: .2s linear;
}

.contacts-main-info-icons a:hover{
    color: #3D3D3D;
}

/*map*/

#map{
    width:100%;
    height:380px;
}






/*footer start*/

.footer{
    background: #3D3D3D;
}

.footer__logo{
    text-align: center;
    padding-top: 31px;
    padding-bottom: 50px;
}

.footer__nav{
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.footer__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
}

.footer__menu-item{
    padding-bottom: 20px;
}

.footer__menu-item:last-child{
    padding-bottom: 0;
}

.footer__menu-item a{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    transition: .2s linear;
}

.footer__menu-item a:hover{
    opacity: .75;
}

